<h1>Bugtracker Admin Panel</h1>

<%= link_to "Administer users:", :controller => "users"%>
<%= link_to "Administer projects:", :controller => "projects"%>
<br />
<!-- 
<% unless user_signed_in? -%>
	<p>
		<%= link_to 'Sign in as User', new_user_session_path %>
	</p>
	<% else -%>
	<p>
		<%= link_to 'Sign up as User', new_user_registration_path %>
	</p>
<% end -%> -->