/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {

	background-color: #4B7399;
	font-family: Verdana, Helvetica, Arial;
	font-size: 14px;
	height: 100%;
}
html {
	height: 100%;
}
a img {
	border: none;
}

a {
	color: #303030;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

#container {
	width: 75%;
	min-height: 85%;
	margin: 0 auto;
	background-color: #FFF;
	padding: 20px 40px;
	border: solid 3px #122435;
	margin-top: 20px;
	border-radius: 10px;
}

#content{
}

#flash_notice, #flash_alert {
	padding: 5px 8px;
	margin: 10px 0;
}

#flash_notice {
	background-color: #CFC;
	border: solid 1px #6C6;
}

#flash_alert {
	background-color: #FCC;
	border: solid 1px #C66;
}

.fieldWithErrors {
	display: inline;
}

#errorExplanation {
	width: 400px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: 0;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 8px;
}

#errorExplanation ul {
	margin: 2px 24px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: disc;
}

#user_login_box {
	float: right;
	text-align: right;
	display: inline-block;
}

table {
	border: 1px solid;
	border-color: #666666;
	border-collapse: collapse;
}


table thead, tbody, tr, td, table th {
	width: 70%;
	border-collapse: collapse;
	border: inherit;
	text-align: center;
}

table div {
	padding: 10px;
}

table th {
	background-color: rgb(238, 238, 238);
}

.administrate td, .administrate th {
	padding-right: 10px;
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}
.admin_list {
	list-style-image: url(bullet.png);
}
.navigation_menu {
	float: right;
	width: 200px;
	background-color: rgb(238, 238, 238);
	border-radius: 4px;
}
.navigation_menu li {
	display: inline;
}
form {
	background-color: rgb(238, 238, 238);
	border-radius: 10px;
	padding: 15px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}
.greetings {
	font-weight: bold;
	color: rgb(0, 66, 104);
}
#header_span {
	font-size: 36px;
	display: inline-block;
}
.header_home {
	color: red;
	text-decoration: none;
}
.header_home:hover {
	color: #333333;
	background-color: white;
}
#header_slogan {
	color: #333333;
}
#header_left {
	display: inline-block;
}
table div:hover {
	color: black;
	background-color: #EEEEEE;
}

footer {
text-align: right;
position: absolute;
bottom: 10px;
}



